// IMPORTS
@import "../../styles/variables/variables";
@import "../../styles/functions/functions";
@import "../../styles/mixins/mixins";

// VARIABLES

// SCSS
.input-text {
  //position: relative;

  //input {
  //  position: relative;
  //
  //  &.is-invalid {
  //    border-color: $danger;
  //    background-color: $danger-bkg;
  //    color: $danger;
  //  }
  //
  //  &.prefix {
  //    padding: {
  //      left: $input-height;
  //    }
  //  }
  //
  //  &.suffix {
  //    padding: {
  //      right: $input-height;
  //    }
  //  }
  //
  //}

  //.input-prefix-icon {
  //  display: flex;
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  align-items: center;
  //  justify-content: center;
  //  width: $input-height;
  //  color: $gray-700;
  //}

  //.input-suffix-icon {
  //  display: flex;
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  align-items: center;
  //  justify-content: center;
  //  width: $input-height;
  //  color: $gray-700;
  //}

  //.clear-input {
  //  position: absolute;
  //  top: 10px;
  //  right: 5px;
  //  bottom: 0;
  //}

  .toggle-password-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background: $white;
    height: unset;
    color: $gray;

    &:hover {
      color: $blue;
    }
  }

  //// SIZES
  //&.size-md {
  //  input {
  //    border-radius: $border-radius;
  //    height: $input-height;
  //  }
  //}
  //
  //&.size-sm {
  //  input {
  //    border-radius: $border-radius-sm;
  //    height: $input-height-sm;
  //    line-height: $input-height-sm;
  //  }
  //}
  //
  //// THEMES
  //&.theme-gray {
  //  input {
  //    background-color: $gray-200;
  //  }
  //}
  //
  //&.theme-blue {
  //  input {
  //    border-color: $blue-dark;
  //    background-color: $blue-dark;
  //    color: $white;
  //  }
  //
  //  .input-prefix-icon {
  //    color: $white;
  //  }
  //}
}
